@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');


:root{
    --branco: #f8fafc;
    --titulo: #57CC99;
    --letras: #C7F9CC;
    --verde: #42b885;
    --azul: #22577A;
    --color-gradient: linear-gradient(90deg, var(--azul), var(--verde));
}


*{
    font-family: 'Poppins',  sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.Login{
    background: var(--color-gradient);

}