:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;


    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --branco: #f8fafc;
    --titulo: #57CC99;
    --letras: #C7F9CC;
    --verde: #42b885;
    --azul: #22577A;


    --color-gradient: linear-gradient(90deg, var(--azul), var(--verde));
}

.bg-verde {
    background-color: var(--verde);
}

.div-form {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

.logo-png {
    height: 200px;
    width: 200px;
}

.verde {
    border-color: var(--verde);
    color: var(--verde);
}

@media(max-height: 800px) {
    .logo-png {
        height: 150px !important;
        width: 150px !important;
    }

    .div-form {
        width: 35rem;
        height: 35rem;
        padding: 2rem 2rem 2rem 2rem !important;
    }

    .mb-6 {
        margin-bottom: 10px;
    }
}